
.navbar {
  background-color: #2a3439;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
  transition: transform 0.3s ease;
}

.navbar-brand img:hover {
  transform: scale(1.1);
}

.navbar-link {
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  border-bottom: 2px solid transparent;
  padding-bottom: 5px;
}

.navbar-link:hover {
  color: #FF4D03;
  border-bottom: 2px solid #FF4D03;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.card:hover {
  transform: scale(1.05);
}

.card-img-top:hover {
  transform: scale(1.1);
}

.btn-primary:hover {
  background-color: #2a3439;
  border-color: #2a3439;
}
